[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/bio-internal/Dockerfile"

[deploy]
startCommand = ""
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100
